/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 Reset
2.0 Fuentes
3.0 VARIABLES
4.0 GENERAL
5.0 FOOTER
6.0 HEADER
7.0 POPUP
8.0 ANIMATIONS
9.0 REDES SOCIALES
10.0 FORMULARIOS
11.0 MAIN
12.0 GALERIAS
--------------------------------------------------------------*/

/*--------------------------------------------------------------
1.0 Reset
--------------------------------------------------------------*/

@import 'sass/reset';

/*--------------------------------------------------------------
2.0 Fuentes
--------------------------------------------------------------*/

@import 'sass/fonts';

/*--------------------------------------------------------------
3.0 variables
--------------------------------------------------------------*/

@import 'sass/variables';

/*--------------------------------------------------------------
4.0 General
--------------------------------------------------------------*/

html, body {
    font-family: $fuente-secundaria;
    font-family: $fuente-principal;
    color: $color-negro;
    background-color: $color-blanco;
    font-size: .8em;
    line-height: 1.5em;
    @media (min-width: $xs) {
        font-size: 1em;
    }
    @media (min-width: $sm) {
        font-size: 1.2em;
    line-height: 1.5em;
    }
    @media (min-width: $md) {
        font-size: 1em;
        line-height: 1.5em;
    }
}

.wrapper-site {//wrapper principal junto al body
    position: relative;
    z-index: 1;
}

.container {//container generico para que todo tenga el mismo ancho
    padding: 0 40px;
    @media (min-width: $xs) {
        padding: 0 40px;
    }
    @media (min-width: $md) {
        padding: 0 50px;;
    }
    @media (min-width: $lg) {
        padding: 0 15%;
    }
    @media (min-width: $xlg) {
        padding: 0 24%;
    }
}

.sr-only-especial {
    display: block;
    @media (min-width: $md) {
        display: none;
    }
}

/*--------------------------------------------------------------
5.0 footer
--------------------------------------------------------------*/

@import 'sass/footer';

/*--------------------------------------------------------------
6.0 header
--------------------------------------------------------------*/

@import 'sass/header';

/*--------------------------------------------------------------
7.0 POPUP
--------------------------------------------------------------*/

@import 'sass/popup';

/*--------------------------------------------------------------
8.0 ANIMATIONS
--------------------------------------------------------------*/

@import 'sass/animations';

/*--------------------------------------------------------------
9.0 REDES SOCIALES
--------------------------------------------------------------*/

@import 'sass/redes-sociales';

/*--------------------------------------------------------------
10.0 FORMULARIOS
--------------------------------------------------------------*/

@import 'sass/formularios';

/*--------------------------------------------------------------
11.0 MAIN
--------------------------------------------------------------*/

@import 'sass/main';

/*--------------------------------------------------------------
12.0 GALERIAS
--------------------------------------------------------------*/

@import 'sass/galerias';

