.main-footer {
    position: relative;
    z-index: 1;
}

//partners
.partners-section {
    background-color: $color-rojo-opaco;

    .partners-wrapper {
        padding: 2em 0;
        @media (min-width: $md) {
            padding: 5em 0;
        }

        .partners-logos {
            width: 100%;
            padding: 2em 2em 3em;
            @media (min-width: $md) {
                padding: 3em 2em 5em;
            }
            
        }
    }

    .background-partners {
        top: -6%;
        @media (min-width: $md) {
            top: -44%;
        } 
        @media (min-width: $lg) {
            top: -54%;
        } 
        @media (min-width: $xlg) {
            top: -74%;
        } 
    }
    
}//.partners-section

.partners-section-movil {
    .background-partners {
        top: -76%;
    }

    .partners-wrapper {
        padding: 5em 0;

        .partners-logos {
            width: 100%;
            padding: 5em 2em 4em;
        }
    }
}

//turismo legales
.legales-turismo {
    position: relative;
    padding: 5em 0 3em;
    text-align: center;
    img {
        max-width: 318px;
        display: block;
        margin: 0 auto 2em;
    }

    h5 {
        text-transform: uppercase;
        @media (min-width: $sm) {
            font-size: 80%;
        }
        @media (min-width: $md) {
            font-size: 70%;
        }   
    }

    .btn-up {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        display: block;
        cursor: pointer;
        width: 36px;
        height: 25px;
        zoom: 1;
        filter: alpha(opacity=50);
        opacity: 0.5;
        background: url('../images/sprite.png') no-repeat;
        background-position: -113px -240px;
        @include transition(all $transitionSpeed ease);
        margin-top: 3em;
        
        @media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-resolution: 240dpi) {
            background: url(../images/sprite2x.png) no-repeat;
            background-size: 324px 305px;
            background-position: -113px -240px;
        }

        @media (min-width: $sm) {
            margin-top: 2em;
        }
        @media (min-width: $md) {
            margin-top: 0;
            position: absolute;
            left: auto;
            right: 50px;
            bottom: 3em;
        }
        @media (min-width: $lg) {
            right: 1.5%;
        }
        @media (min-width: $xlg) {
            right: 4%;
        }
        &:hover {
            @include transition(all $transitionSpeed ease);
            background-position: -113px -269px;
        }
    }
}

#btn-bases {
    margin: 0 0 50px 0;
    display: inline-block;
    text-transform: uppercase;
    border: 1px solid $color-gris-claro;
    padding: 7px 20px;
    color: $color-gris-medio;
}

//hit legales
.hit-legales{
    color:$color-blanco;
    background-color: $backgroundHit;
    text-align: center;
    font-size: 100%;
    padding: 5px 0;
    @media (min-width: $md) {
        padding: 15px 0 10px;
    }
    
    a {
        position: relative;
        img {
            vertical-align: bottom;
                width: 25px;
            @media (min-width: $md) {
                width: 20px;        
            }
        }
        
        &:hover {
            &:before {
                @media (min-width: $md) {
                    content: "Design and development";
                    position: absolute;
                    text-transform: uppercase;
                    display: inline-block;
                    line-height: 170%;
                    right: 21px;
                    top: -1px;
                    width: 170px;
                    font-size: 70%;
                }
            }
        &:after {
                @media (min-width: $md) {
                    content: "";
                    display: inline-block;
                    position: absolute;
                    font-size: 100%;
                    background: url(../images/logo-hit-fuente.png) no-repeat;
                    background-size: cover;
                    top: 5px;
                    left: 35px;
                    width: 22px;
                    height: 11px;
                }
            }
        }//cierra hover
        
        &:before {
            content: "Design and development";
            position: absolute;
            text-transform: uppercase;
            display: inline-block;
            right: -10px;
            top: -9px;
            width: 196px;
            font-size: 80%;
            line-height: 170%;
            opacity: 0.8;
            @media (min-width: $xs) {
                right: 20px;
                top: -4px;
            }
            @media (min-width: $sm) {
                right: 34px;
                top: 1px;
                opacity: 1;
                font-size: 60%
                
            }
            @media (min-width: $md) {
                content: none;
            }
        }       
        &:after {
            display: inline-block;
            position: absolute;
            content: "";
            top: -10px;
            left: 42px;
            width: 30px;
            height: 15px;
            background: url(../images/logo-hit-fuente.png) no-repeat;
            background-size: cover;
            opacity: 0.8;
            @media (min-width: $xs) {
                top: -1px;
                left: 42px;
            }
            @media (min-width: $sm) {
                top: 6px;
                left: 42px;
                width: 32px;
                height: 17px;
            }
            @media (min-width: $md) {
                content: none;
            }
        }
        
    }//cierra a
}//cierre hit-legales