.main-footer {
    position: relative;
    z-index: 1;
}

//partners
.partners-section {
    background-color: $color-rojo-opaco;

    .partners-wrapper {
        padding: 2em 0;
        @media (min-width: $md) {
            padding: 5em 0;
        }

        .partners-logos {
            width: 100%;
            padding: 2em 2em 3em;
            @media (min-width: $md) {
                padding: 3em 2em 5em;
            }
            
        }
    }

    .background-partners {
        top: -24%;
        @media (min-width: $md) {
            top: -44%;
        } 
        @media (min-width: $lg) {
            top: -54%;
        } 
        @media (min-width: $xlg) {
            top: -74%;
        } 
    }
}

.partners-section-movil {
    .background-partners {
        top: -76%;
    }

    .partners-wrapper {
        padding: 5em 0;

        .partners-logos {
            width: 100%;
            padding: 5em 2em 4em;
        }
    }
}

.vertical-content-wrapper {
    display: none;
    @media (min-width: $lg) {
        width: 100%;
        height: 100%;
        display: flex;
        display: -o-flex;
        display: -ms-flex;
        display: -moz-flex;
        display: -webkit-flex;
        -webkit-align-items: center;
        -moz-align-items: center;
        -ms-align-items: center;
        -o-align-items: center;
        align-items: center;
        -webkit-justify-content: space-between;
        -moz-justify-content: space-between;
        -ms-justify-content: space-between;
        -o-justify-content: space-between;
        justify-content: space-between;
        padding: 0 3%;
        

        .left, .right {
            display: flex;
            display: -o-flex;
            display: -ms-flex;
            display: -moz-flex;
            display: -webkit-flex;
            -webkit-align-items: center;
            -moz-align-items: center;
            -ms-align-items: center;
            -o-align-items: center;
            align-items: center;
            -webkit-justify-content: space-between;
            -moz-justify-content: space-between;
            -ms-justify-content: space-between;
            -o-justify-content: space-between;
            justify-content: space-between;
            -webkit-flex-direction: column;
            -moz-flex-direction: column;
            -ms-flex-direction: column;
            -o-flex-direction: column;
            flex-direction: column;
            height: 60%;
        }
        

        .line {
            display: block;
            width: 2em;
            height: .04em;
            background-color: $color-blanco;
        }
        .text {
            text-transform: uppercase;
            color: $color-blanco;
            font-size: 80%;
        }

        .vertical {
            @include transform(rotate(-90deg));
        }
    }
}

//turismo legales
.legales-turismo {
    padding: 90px 0;
    text-align: center;
    img {
        max-width: 318px;
        display: block;
        margin: 0 auto 2em;
    }

    h5 {
        text-transform: uppercase;
        @media (min-width: $sm) {
            font-size: 80%;
        }
        @media (min-width: $sm) {
            font-size: 70%;
        }
        
    }
}

//hit legales
.hit-legales{
    color:$color-blanco;
    background-color: $backgroundHit;
    text-align: center;
    font-size: 100%;
    padding: 15px 0;
    
    a {
        position: relative;
        img {
            vertical-align: bottom;
                width: 20px;
            @media (max-width: $md) {
                width: 30px;        
            }
        }
        
        &:hover {
            &:before {
                @media (min-width: $md) {
                content: "Design and development";
                position: absolute;
                text-transform: uppercase;
                display: inline-block;
                line-height: 170%;
                    left: -210px;
                    top: -3px;
                    width: 210px;
                    font-size: 85%;
                }
            }
        &:after {
                @media (min-width: $md) {
                    content: "";
                    display: inline-block;
                    position: absolute;
                    font-size: 100%;
                    background: url(../images/logo-hit-fuente.png) no-repeat;
                    background-size: cover;
                    top: 2px;
                    right: -50px;
                    width: 29px;
                    height: 16px;
                }
            }
        }//cierra hover
        
        &:before {
            content: "Design and development";
            position: absolute;
            text-transform: uppercase;
            display: inline-block;
            left: -157px;
            top: -10px;
            width: 196px;
            font-size: 60%;
            line-height: 170%;
            opacity: 0.7;
            @media (min-width: $xs) {
                left: -177px;
                top: -7px;
            }
            @media (min-width: $sm) {
                left: -223px;
                width: 228px;
                top: 0px;
                opacity: 1;
                
            }
            @media (min-width: $md) {
                content: none;
            }
        }       
        &:after {
            display: inline-block;
            position: absolute;
            content: "";
            top: -12px;
            right: -53px;
            width: 32px;
            height: 15px;
            font-size: 100%;
            background: url(../images/logo-hit-fuente.png) no-repeat;
            background-size: cover;
            opacity: 0.8;
            @media (min-width: $xs) {
                right: -53px;
                top: -6px;
            }
            @media (min-width: $sm) {
                top: 4px;
                right: -58px;
                width: 36px;
                height: 18px;
            }
            @media (min-width: $md) {
                content: none;
            }
        }
        
    }//cierra a
}//cierre hit-legales