/*
 * FORMULARIO
*/



form {
    position: relative;
    @media (min-width: $md) {
        display: flex;
        display: -o-flex;
        display: -ms-flex;
        display: -moz-flex;
        display: -webkit-flex;
        -webkit-justify-content: space-between;
        -moz-justify-content: space-between;
        -ms-justify-content: space-between;
        -o-justify-content: space-between;
        justify-content: space-between;
    }

    legend {}

    .inner-wrapper-form {
        width: 100%;;
        /*.form-group {
            @media (min-width: $md) {
                height: 30px;
            }
            @media (min-width: $xlg) {
                height: 40px;
            }
        }*/
    }

    .loader {
        display: none;
        background: rgba(0,0,0,0.2) url(../images/loader-espiral.gif) no-repeat center;
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background-size: 20%;
        z-index: 111;
    }
}//form

.form-group {
    position: relative;
    height: 50px;
    margin: 20px 0 15px;
    border-bottom: 2px solid #999;
    @media (min-width: $sm) {
        height: 70px;
    }
    @media (min-width: $md) {
        height: 30px;
        margin: 20px 0 10px;
    }
    @media (min-width: $xlg) {
        height: 40px;
        margin: 20px 0 15px;
    }

    label {
        position: absolute;
        top: 0;
        left: 0;
        z-index:2;
        cursor: pointer;
        text-transform: uppercase;
        @include transition(all 0.3s);
        @media (min-width: $md) {
            top: -2px;
        }
        @media (min-width: $xlg) {
            top: 0;
        }
    }

    label.long-label {
        font-size: 80%;
        @media (min-width: $md) {
            font-size: 100%;
        }
    }

    label.label-col-right {
        @media (min-width: $md) {
            left: 5px;
        }
    }

    //cuando el input está en focus o tiene contentenido la etiqueta se achica
    label.on {
        font-size: 60%;
        top: -20px;
        z-index:0;
        @include transition(all 0.5s);
    }
    input {
        z-index:1;
        height: 50px;
        position: absolute;
        top: 0;
        left: 0;
        width: 90%;
        border: 0;
        background: transparent;
        font-size: 100%;
        color: $color-blanco;
        //padding-bottom: 30px;
        @media (min-width: $sm) {
            height: 80px;
        }
        @media (min-width: $md) {
            height: 20px;
        }
        @media (min-width: $xlg) {
            height: 40px;
        }
    }


    //input con contenido escrito
    .input-on {
        color: $color-blanco!important;
    }

    input[type=number] {
        -moz-appearance:textfield;
        &::-webkit-inner-spin-button, &::-webkit-outer-spin-button { 
          -webkit-appearance: none; 
          margin: 0; 

        }
    }

    input[type=date] {
        -moz-appearance:textfield;
        color: transparent;
        &::-webkit-inner-spin-button, &::-webkit-outer-spin-button { 
          -webkit-appearance: none; 
          margin: 0; 
        }

        &::-webkit-calendar-picker-indicator {
            display:none;
        }

        &::-webkit-datetime-edit-month-field {
            color: inherit
        }
        &::-webkit-datetime-edit-day-field {
            color: inherit
        }
        &::-webkit-datetime-edit-year-field {
            color: inherit;
        }
    }

    .msj-error-input {
        position: absolute;
        top: -15px;
        right: 50px;
        font-size: 50%;
        color: $color-rojo-opaco;
        width: 55%;
        font-style: italic;
        line-height: 110%;
        display:none;
    }

    .msj-error-input-background {
        top: -13px;
        padding: 3px;
        background-color: rgba(255,255,255,0.5);
    }
    .msj-error-input-col {
        right: 45px;
    }

}//.form-group 

.btn-submit-wrapper {
    text-align: right;
    margin-top: 40px;
    @media (min-width: $md) {
        margin-top: 25px;
    }
    @media (min-width: $xlg) {
        margin-top: 40px;
    }

    .btn-submit {
        -webkit-appearance: none;
        border: none;
        width: auto;
        display: inline-block;
        background-color: $color-rojo-brillante;
        color: $color-blanco;
        padding: 10px 40px;
        @include border-radius(30px);
        font-weight: 600;
        line-height: 110%;
        cursor: pointer;
        font-size: 130%;

        &:hover {
            zoom: 1;
            filter: alpha(opacity=60);
            opacity: 0.6;
        }
    }
}