.inner-wrapper {//wrapper principal del main//footer y header quedan afuera
    position: relative;
    z-index: 0;
}

/*
 * CONTACTO
*/
.addresses {
    @media (min-width: $md) {
        display: flex;
        display: -o-flex;
        display: -ms-flex;
        display: -moz-flex;
        display: -webkit-flex;
        -webkit-justify-content: space-between;
        -moz-justify-content: space-between;
        -ms-justify-content: space-between;
        -o-justify-content: space-between;
        justify-content: space-between;
        -webkit-flex-wrap: wrap;
        -moz-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        -o-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    li {
        @media (min-width: $md) {
            width: 30%;
            padding-right: 1em;

            &:last-child {
                padding-right: 0;
            }
        }
    }

    li.main-address {
        width: 100%;
        
        @media (min-width: $md) {
            padding-right: 0;
            display: flex;
            display: -o-flex;
            display: -ms-flex;
            display: -moz-flex;
            display: -webkit-flex;
            -webkit-justify-content: space-between;
            -moz-justify-content: space-between;
            -ms-justify-content: space-between;
            -o-justify-content: space-between;
            justify-content: space-between;
        }
        

        .contacto-principal {
            flex-grow: 1;
            .form-wrapper {}
        }//.contacto-principal

        .map-wrapper {
            width: 50%;
        }//map-wrapper
    }//li.main-address

}//.addresses

