.inner-wrapper {//wrapper principal del main//footer y header quedan afuera
    position: relative;
    z-index: 0;
}

.main-section-wrapper {
    padding: 5em 0 5em;
}

/*
 * NOSOTROS
*/
.nosotros-section {
    background-color: $color-gris-claro;

    .nosotros-wrapper {
        padding: 15em 0 5em;
        @media (min-width: $md) {
            padding: 18em 0;
            padding: 27vh 0;
            display: flex;
            display: -o-flex;
            display: -ms-flex;
            display: -moz-flex;
            display: -webkit-flex;
            -webkit-justify-content: space-between;
            -moz-justify-content: space-between;
            -ms-justify-content: space-between;
            -o-justify-content: space-between;
            justify-content: space-between;
            flex-wrap: wrap;

            > div {
                width: 50%;
            }

            .left {
                padding-right: 3em;
            }

        }

        h2 {
            margin-bottom: 2em;
            @media (min-width: $md) {
                margin: .1em;
                margin-bottom: 3em;
            }
        }

        h3 {
            margin-bottom: 2em;
            @media (min-width: $md) {
                margin-bottom: 4em;
            }
        }

        p {
            margin: 1em 0;
            @media (min-width: $md) {
                margin: 0;
                margin-bottom: .8em;
                font-size: 80%;
            }
        }

        .logo-27 {
            display: none;
            @media (min-width: $md) {
                display: block;
                max-width: 150px;
            }
        }
        .logo-27-movil {
            display: block;
            width: 40%;
            max-width: 180px;
            margin: 3em 0 2em;
            @media (min-width: $md) {
                display: none;
            }
        }
    }//.nosotros-wrapper

    .background-section {
        padding-top: 5em;
        @media (min-width: $md) {
            padding-top: 0;
        }

        .experiencia {
            @media (min-width: $sm) {
                position: absolute;
                display: block;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                background: url(../images/sobreimpresion-vivi-la-experiencia.png);
                background-size: contain;
                background-attachment: fixed;
                background-repeat: no-repeat;
            }
        }

        h6 {
            width: 100%;
            position: relative;
            margin: 3em 0;
            img {
                width: 147px;
            }
            @media (min-width: $md) {
                margin: 0;
                top: 13vh;
            }
            @media (min-width: $xlg) {
                &:before {
                    content: '';
                    display: block;
                    width: 170px;
                    height: 1px;
                    background-color: $color-negro;
                    position: absolute;
                    bottom: 0;
                    left: -190px;
                }
            }
        }//h6
    }//.background-section

}//.nosotros-section

/*
* VIDEO
*/
.video-section {
    .video-wrapper {}
}

/*
* REDES SOCIALES
*/
.redes-sociales-section {
    .redes-sociales-wrapper {
        h3 {
            margin-bottom: 1em;
        }
        h4 {
            margin-bottom: 2em;
            @media (min-width: $md) {
                width: 50%;
            }
        }
    }//.redes-sociales-wrapper
}//.redes-sociales-section

/*
 * PROGRAMAS
*/
.programas-section {
    background-color: $color-violeta;
    
    .programas-wrapper {
        padding: 0;
        @media (min-width: $md) {
            display: flex;
            display: -o-flex;
            display: -ms-flex;
            display: -moz-flex;
            display: -webkit-flex;
            -webkit-justify-content: space-between;
            -moz-justify-content: space-between;
            -ms-justify-content: space-between;
            -o-justify-content: space-between;
            justify-content: space-between;
        }
        
        .logo-escritorio {
            width: 160px;
            @media (min-width: $md) {
                width: 207px;
            }
        }

        h2 {
            margin-bottom: 4em;
        }

        .hot-beach {
            padding: 5em 0 3em;
            width: 100%;
            color: $color-blanco;
        }//.hot-beach

        .cold-mountain {
            padding: 5em 0 3em;
            width: 100%;
            @media (min-width: $md) {
                padding-left: 10%;
            }
            @media (min-width: $lg) {
                padding-left: 25%;
            }
            @media (min-width: $xlg) {
                padding-left: 10%;
            }
        }//.cold-mountain

        .programas-links {
            text-transform: uppercase;
            margin: 2em 0;
            font-size: 130%;
            font-weight: 500;
            @media (min-width: $md) {
                font-size: 110%;
            }

            li {
                margin: 1em 0;
            }

            button {
                position: relative;
                color: $color-celeste;
                text-transform: uppercase;
                cursor: pointer;
                padding-left: 30px;
                margin-top: 2em;
                font-weight: 400;
                font-size: 80%;
                @media (min-width: $xs) {
                    padding-left: 45px;
                    margin-top: 0;
                }
                @media (min-width: $md) {
                    margin-top: 1em;
                }
    
    
                &:before {
                    content: '';
                    display: block;
                    background: url(../images/sprite.png) no-repeat;
                    position: absolute;
                    bottom: 1px;
                    left: 0;
                    background-position: -47px -237px;
                    height: 17px;
                    width: 20px;
                    @media (min-width: $xs) {
                        background-position: -2px -231px;
                        height: 26px;
                        width: 32px;
                    }
                }
            }//button

            button.button-red {
                color: $color-rojo-rosa;
                &:before {
                    background-position: -47px -205px;
                    @media (min-width: $xs) {
                        background-position: -2px -196px;
                    }
                }
            }
        }//.programas-links
    }//.programas-wrapper

    .background-section {
        .hot-cold-images {
            .background-hot {
                @media (min-width: $sm) {
                    position: relative;
                    top: -300px;
                }
                @media (min-width: $md) {
                    position: absolute;
                    top: auto;
                    width: 100%;
                    bottom: 0%;
                    left: 0;
                }
                @media (min-width: $lg) {
                    width: 90%;
                }
                @media (min-width: $xlg) {
                    width: 70%;
                    bottom: -15%;
                }
            }
            
            .background-cold {
                position: absolute;
                top: 470px;
                width: 150%;
                right: 0;
                @media (min-width: $xs) {
                    top: 612px;
                }
                @media (min-width: $sm) {
                    top: 840px;
                    width: 120%;
                }
                @media (min-width: $md) {
                    position: absolute;
                    width: auto;
                    height: 100%;
                    top: 0;
                    right: -35%;
                }
                @media (min-width: $lg) {
                    right: -25%;
                }
                @media (min-width: $xlg) {
                    right: -13%;
                }
                @media (min-width: 1600px) {
                    right: -5%;
                }
                @media (min-width: 1700px) {
                    right: 0;
                }
            }

            .background-hot-tablet {}
            .background-cold-tablet {
                @media (min-width: $md) {
                    right: 0px!important;
                }
                @media (min-width: $lg) {
                    height: 120%;
                }
            }
        }//.hot-cold-images
    }//.background-section

}//.programas-section


/*
 * BARILOCHE
*/
.bariloche-section {
    background-color: $color-gris-oscuro;
    .bariloche-wrapper {
        color: $color-blanco;
        
        h2 {
            margin-bottom: 1.5em;
        }

        p {
            color: $color-celeste;
            text-transform: uppercase;
            padding-left: 1.5em;
            position: relative;
            font-size: 110%;
            line-height: 150%;
            @media (min-width: $md) {
                font-size: 80%;
            }

            &:before {
                content: '>> ';
                font-size: 120%;
                vertical-align: top;
                position: absolute;
                top: -2px;
                left: 0;
            }
        }
        .bariloche-links {
            font-weight: 500;
            text-transform: uppercase;
            margin: 2em 0;
            font-size: 130%;
            @media (min-width: $md) {
                line-height: 100%;
                font-size: 90%;
                display: flex;
                display: -o-flex;
                display: -ms-flex;
                display: -moz-flex;
                display: -webkit-flex;
                -webkit-align-items: center;
                -moz-align-items: center;
                -ms-align-items: center;
                -o-align-items: center;
                align-items: center;
                -webkit-justify-content: flex-start;
                -moz-justify-content: flex-start;
                -ms-justify-content: flex-start;
                -o-justify-content: flex-start;
                justify-content: flex-start;
            }

            li {
                margin: 1em 0;
                @media (min-width: $md) {
                    margin: 0;
                    padding: 0 1em;
                    border-right: .05em solid $color-blanco;

                    &:first-child {
                        padding-left: 0;
                    }

                    &:last-child {
                        padding-right: 0;
                        border-right: none;
                    }
                }
            }
        }//.bariloche-links
    }//.bariloche-wrapper
}//.bariloche-section


/*
 * MOLE
*/

.mole-section {
    background-color: $color-rojo-opaco;
    @media (min-width: $lg) {
        height: 790px;
    }
    @media (min-width: $xlg) {
        height: 1080px;
    }
    

    .mole-wrapper {
        padding: 25em 0 5em;
        @media (min-width: $xs) {
            padding: 15em 0 5em;
        }
        @media (min-width: $md) {
            padding: 12em 0;
            width: 60%;
        }
        @media (min-width: $xlg) {
            width: 50%;
            padding: 20em 0;
        }

        h2 {
            color: $color-blanco;
            text-transform: uppercase;
        }

        h3 {
            margin: 2.5em 0 1.5em;
        }

        .mole-hoteles {
            font-size: 100%;
            line-height: 150%;
            li {
                margin: 2em 0;
                @media (min-width: $md) {
                    margin: 1em 0;
                }
            }
        }

        button {
            position: relative;
            color: $color-celeste;
            text-transform: uppercase;
            cursor: pointer;
            padding-left: 30px;
            margin-top: 2em;
            @media (min-width: $xs) {
                padding-left: 45px;
                margin-top: 0;
            }
            @media (min-width: $md) {
                margin-top: 1em;
            }


            &:before {
                content: '';
                display: block;
                background: url(../images/sprite.png) no-repeat;
                position: absolute;
                bottom: 0;
                left: 0;
                background-position: -47px -237px;
                height: 17px;
                width: 20px;
                @media (min-width: $xs) {
                    background-position: -2px -231px;
                    height: 26px;
                    width: 32px;
                }
            }
        }
    }//.mole-wrapper

    .background-section {
        .video-wrapper{
            display: none;
            @media (min-width: $lg) {
                display: block;
                position: absolute;
                left: 50%;
                width: 50%;
                height: 100%;
                top: 0;
            }
            img {
                display: none;
                width: auto;
                height: 100%;
                @media (min-width: $lg) {
                    display: block;
                }
            }
    
        }//.video-wrapper

        .mole-experiencia {
            @media (min-width: $sm) {
                position: absolute;
                display: block;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                background: url(../images/sobreimpresion-mole-youth.png);
                background-size: contain;
                background-attachment: fixed;
                background-repeat: no-repeat;
            }
        }

        h1 {
            position: absolute;
            padding-top: 8em;
            @media (min-width: $xs) {
                padding-top: 5em;
            }
            @media (min-width: $md) {
                padding-top: 3em;
            }
            @media (min-width: $xlg) {
                padding-top: 10em;
            }
            .logo-movil {
                width: 80%;
                max-width: 160px;
            }
            .logo-escritorio {
                width: 138px;
            }
            @media (min-width: $xlg) {
                &:before {
                    content: '';
                    display: block;
                    width: 170px;
                    height: 1px;
                    background-color: $color-negro;
                    position: absolute;
                    bottom: 70px;
                    left: -190px;
                }
            }
        }//h1
                
    }//.background-section

    .front-section {
        .deco-diagonal {
            width: 10%;
            @media (min-width: $xlg) {
                width: 15%;
            }
        }
    }//.front-section

}//.mole-section

/*
 * VIAJO CON BAXTTER
*/
.viajo-baxtter-section {
    
    .viajo-baxtter-wrapper {
        h1 {
            margin-bottom: 1em;
        }
    }//.viajo-baxtter-wrapper

    .pdfs-links {
        font-weight: 500;
        text-transform: uppercase;
        margin: 2em 0;
        font-size: 130%;
        @media (min-width: $md) {
            line-height: 100%;
            font-size: 80%;
            display: flex;
            display: -o-flex;
            display: -ms-flex;
            display: -moz-flex;
            display: -webkit-flex;
            -webkit-align-items: center;
            -moz-align-items: center;
            -ms-align-items: center;
            -o-align-items: center;
            align-items: center;
            -webkit-justify-content: flex-start;
            -moz-justify-content: flex-start;
            -ms-justify-content: flex-start;
            -o-justify-content: flex-start;
            justify-content: flex-start;
        }

        li {
            margin: 1em 0;
            @media (min-width: $md) {
                margin: 0;
                padding: 0 1em;
                border-right: .05em solid $color-negro;

                &:first-child {
                    padding-left: 0;
                }

                &:last-child {
                    padding-right: 0;
                    border-right: none;
                }
            }
        }
    }//.pdfs-links
}//.viajo-baxtter-sectio

/*
 * TWITTER
*/
.twitter-section {
    background-color: $color-gris-medio;

    .main-section-twitter {
        background: url(../images/color-twitter-mascara.png) no-repeat;
        background-size: cover;
    }

    .twitter-wrapper {
        padding: 10em 0 5em;
        font-weight: 500;
        color: $color-blanco;
        h1 {
            position: relative;
            &:after{
                content: '';
                display: block;
                width: 47px;
                height: 40px;
                background: url(../images/sprite.png) no-repeat;
                background-position: 2px -264px;
                position: absolute;
                top: -47px;
                left: -2px;
            } 
        }
        .tweets-container {
            width: 100%;
            overflow: hidden;
            position: relative;
            .tweets {
                padding: 20px 0;
                position: relative;
                height: 150px;

                li {
                    position: absolute;
                    width: 100%;
                    text-align: left;
                    font-size: 140%;
                    line-height: 140%;
                    text-transform: uppercase;
                    @media (min-width: $md) {
                        font-size: 80%;
                    }

                    &:nth-child(1) {
                        left: 0px;
                    }
                    &:nth-child(2) {
                        left: -960px;
                    }
                    &:nth-child(3) {
                        left: -960px;
                    }
                    &:nth-child(4) {
                        left: -960px;
                    }
                    &:nth-child(5) {
                        left: -960px;
                    }
                }
            }

            .twetts-dots-wrapper {
                width: 100%;
                max-width: 768px;
                margin: 0 auto;
                text-align: center;
                .twetts-dots {
                    display: inline-block;
                    width: 7px;
                    height: 7px;
                    margin: 0 5px;
                    background-color: #fff;
                    -webkit-border-radius: 50px;
                    -moz-border-radius: 50px;
                    -ms-border-radius: 50px;
                    border-radius: 50px;
                }
                .active {
                    opacity: 0.6;
                }
            }
        }//.tweets-container

    }//.twitter-wrapper
    
    .background-twitter {
        top: -40%;
        img {
            width: 280%;
            @include transform(translateX(-50%));
        }

        @media (min-width: $sm) {
            img {
                width: 200%;
            }
        }
        @media (min-width: $md) {
            top: -44%;
            img {
                width: 100%;
                @include transform(translateX(0%));
            }
        } 
        @media (min-width: $lg) {
            top: -49%;
        } 
        @media (min-width: $xlg) {
            top: -74%;
        }

    }//.background-twitter
    
}//.twitter-section


/*
 * CONTACTO
*/
.contacto-section {
    .contacto-wrapper {
        
        h2 {
            margin-bottom: 2em;
            @media (min-width: $md) {
                margin-bottom: 4em;
            }
        }

        .addresses {
            font-weight: 500;
            text-transform: uppercase;
            color: $color-gris-texto;
            @media (min-width: $md) {
                font-size: 70%;
                line-height: 170%;
                display: flex;
                display: -o-flex;
                display: -ms-flex;
                display: -moz-flex;
                display: -webkit-flex;
                -webkit-justify-content: space-between;
                -moz-justify-content: space-between;
                -ms-justify-content: space-between;
                -o-justify-content: space-between;
                justify-content: space-between;
                -webkit-flex-wrap: wrap;
                -moz-flex-wrap: wrap;
                -ms-flex-wrap: wrap;
                -o-flex-wrap: wrap;
                flex-wrap: wrap;
            }

            h1 {
                color: $color-negro;
                font-weight: 500;
                position: relative;
                display: inline-block;
                &:after {
                    content: '';
                    display: block;
                    width: 3em;
                    height: 1px;
                    background-color: $color-celeste;
                    position: absolute;
                    top: 10px;
                    right: -20px;
                    @media (min-width: $sm) {
                        top: 18px;
                    }
                    @media (min-width: $md) {
                        top: 10px;
                    }
                }
            }
        
            li {
                margin-bottom: 2em;
                @media (min-width: $md) {
                    width: 22%;
                    padding-right: .5em;
        
                    &:last-child {
                        padding-right: 0;
                    }
                }
            }
        
            li.main-address {
                width: 100%;
                margin-bottom: 3em;
                font-size: 130%;
                line-height: 140%;
                @media (min-width: $md) {
                    font-size: 110%;
                    line-height: 150%;
                    padding-right: 0;
                    display: flex;
                    display: -o-flex;
                    display: -ms-flex;
                    display: -moz-flex;
                    display: -webkit-flex;
                    -webkit-justify-content: space-between;
                    -moz-justify-content: space-between;
                    -ms-justify-content: space-between;
                    -o-justify-content: space-between;
                    justify-content: space-between;
                }
                
        
                .contacto-principal {
                    flex-grow: 1;
                    @media (min-width: $md) {
                        padding-right: 1em;
                        display: flex;
                        display: -o-flex;
                        display: -ms-flex;
                        display: -moz-flex;
                        display: -webkit-flex;
                        -webkit-justify-content: space-between;
                        -moz-justify-content: space-between;
                        -ms-justify-content: space-between;
                        -o-justify-content: space-between;
                        justify-content: space-between;
                        flex-direction: column;

                    }
                    .form-wrapper {
                        margin: 2em 0 1em;
                        @media (min-width: $md) {
                            margin-bottom: 0;
                        }
                    }
                }//.contacto-principal
        
                .map-wrapper {
                    width: 100%;
                    margin: 3em 0;
                    @media (min-width: $md) {
                        padding-left: 1em;
                        margin: 0;
                        width: 50%;
                        height: 100%;
                        overflow: hidden;
                    }
                    
                }//map-wrapper
            }//li.main-address
        
        }//.addresses
    }//.contacto-wrapper
}//.contacto-section


/*
 * FRONT SECTION - contenido vertical
*/
.front-section {
    display: none;
    @media (min-width: $lg) {
        display: block;
    }

    .deco-diagonal {
        position: absolute;
        display: block;
        right: 0;
        bottom: -1%;
        width: 15%;
        height: 80%;

        img {
            width: 100%;
            position: absolute;
            bottom: 0;
            right: 0;
        }
    }

    .deco-diagonal-top {
        position: absolute;
        display: block;
        left: 49%;
        top: -1%;
        width: 20.5%;
        height: 100%;

        img {
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
        }
    }

    .left, .right {
        display: flex;
        display: -o-flex;
        display: -ms-flex;
        display: -moz-flex;
        display: -webkit-flex;
        -webkit-align-items: center;
        -moz-align-items: center;
        -ms-align-items: center;
        -o-align-items: center;
        align-items: center;
        -webkit-justify-content: space-between;
        -moz-justify-content: space-between;
        -ms-justify-content: space-between;
        -o-justify-content: space-between;
        justify-content: space-between;
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-flex-direction: column;
        flex-direction: column;
        position: absolute;
        z-index: 2;
        top: 25%;
        top: 5em;
        width: 2em;
        height: 50%;
    }

    .partners {
        height: 70%;
    }

    .medium {
        top: 10em;
    }

    .bigger {
        top: 10em;
        height: 60%;
    }

    .biggerxl {
        top: 15em;
        height: 50%;
    }

    .biggerxxl {
        top: 10em;
        height: 60%;
        @media (min-width: $xlg) {
            top: 20em;
            height: 50%;
        }
    }

    .left {
        left: 3%;
        @media (min-width: $xlg) {
            left:5%;
        }
    }

    .right {
        right:3%;
        @media (min-width: $xlg) {
            right:5%;
        }
    }

    .vertical {
        @include transform(rotate(-90deg));
    }

    .vertical-more-bottom {
        @media (min-width: $md) {
            @include transform(rotate(-90deg) translateX(-50px));
        }
        @media (min-width: $xlg) {
            @include transform(rotate(-90deg));
        }
    }

    .line {
        display: block;
        width: 2em;
        height: 0.5px;
        background-color: $color-blanco;
    }
    .text {
        font-weight: 500;
        text-transform: uppercase;
        color: $color-blanco;
        font-size: 60%;
    }

    .fondo-negro {
        background-color: $color-negro;
    }

    .color-negro {
        color: $color-negro;
    }

    .color-celeste {
        color: $color-celeste;
    }

    .w80px {
        width: 80px;
    }

    .w160px {
        width: 160px;
    }

    .align-right {
        text-align: right;
    }
}//.front-section