/*
 * EFECTOS HOVERS ESPECIALES
 */
.btn-hover-menu {
	position: relative;
	@include transition(all $transitionSpeed ease);
	
	&:hover {
		color: $color-rojo-brillante;
		opacity: .9;
		@include transition(all $transitionSpeed ease);
		
		&:after {
			content: '';
			display: block;
			width: 100%;
			height: 3px;
			background-color: $color-rojo-brillante;
			position: absolute;
			bottom: 0;
			left: 0;
			animation-name: animateMenuItems;
			opacity: 0;
			animation-duration: 1s;
			animation-fill-mode: forwards;
		}
		
	}
}

@keyframes animateMenuItems {
	from {transform:translateY(0);opacity: 0;}
	to {transform:translateY(22px);opacity: 1;}
}

.btn-hover-opacity {
	@include transition(all $transitionSpeed ease);
	&:hover {
	   @include transition(all $transitionSpeed ease);
	   	zoom: 1;
    	filter: alpha(opacity=70);
		opacity: 0.7;
   }
}

.btn-hover-grayscale {
	@include transition(all $transitionSpeed ease);
	&:hover {
		@include transition(all $transitionSpeed ease);
		filter: grayscale(70%);
	}
 }

.btn-hover-gray {
	@include transition(all $transitionSpeed ease);
	display: block;
	&:hover {
	   	@include transition(all $transitionSpeed ease);
	   	zoom: 1;
    	filter: alpha(opacity=70);
		opacity: 0.7;
		@include transform(translateY(-.5em));
   }
}

 .btn-hover-red {
	 display: block;
	@include transition(all $transitionSpeed ease);
	&:hover {
		@include transition(all $transitionSpeed ease);
		color: $color-rojo-brillante;
		@include transform(translateY(-.5em));
	}
 }

 .btn-hover-underline {
	position: relative;
	
	&:after{
		@include transition(all $transitionSpeed ease);
		content: '';
		display: block;
		position: absolute;
		bottom: -4px;
		height: 1px;
		background-color: $color-blanco;
		width: 0;
	}
	&:hover {
		@include transition(all $transitionSpeed ease);
		zoom: 1;
		filter: alpha(opacity=70);
		opacity: 0.7;
		&:after{
			content: '';
			@include transition(all $transitionSpeed ease);
			display: block;
			position: absolute;
			background-color: $color-blanco;
			width: 2em;
		}	
	}
 }
 
 .btn-hover-programas {
	position: relative;
	display: block;
	@include transition(all $transitionSpeed ease);
	&:hover {
		@include transform(translateX(3%))
	}
 }

 /*
  * ANIMATIONS
 */
 //slide down flecha header
 .movil-element.slide-down.in-view {
	animation-name: slide-down;
	animation-duration: 1s;
	animation-delay: 0.5s;
	animation-fill-mode: forwards;
}

@keyframes slide-down {
	from {opacity: 0;transform:translateY(0);}
	to {opacity: 1;transform:translateY(30px);}
}

.animate-element {
	opacity: 0;
}

.animate-element.slide-down-x2.in-view {
	opacity: 0;
	animation-name: slide-down;
	animation-duration: 1s;
	animation-delay: 0.5s;
	animation-fill-mode: forwards;
}

@keyframes slide-down-x2 {
	from {opacity: 0;transform:translateY(-10%);}
	to {opacity: 1;transform:translateY(0);}
}

.animate-element.slide-up.in-view {
	opacity: 0;
	animation-name: slide-up;
	animation-duration: 1s;
	animation-delay: 0.5s;
	animation-fill-mode: forwards;
}

.animate-element.slide-up-list.in-view {
	opacity: 0;
	animation-name: slide-up;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}

@keyframes slide-up {
	from {opacity: 0;transform:translateY(30%);}
	to {opacity: 1;transform:translateY(0);}
}

.animate-element.slide-left.in-view {
	opacity: 0;
	animation-name: slide-left;
	animation-duration: 1s;
	animation-delay: 0.5s;
	animation-fill-mode: forwards;
}

@keyframes slide-left {
	from {opacity: 0;transform:translateX(-50%);}
        to {opacity: 1;transform:translateX(0);}
}

.animate-element.slide-right.in-view {
	opacity: 0;
	animation-name: slide-right;
	animation-duration: 1s;
	animation-delay: 0.5s;
	animation-fill-mode: forwards;
}

@keyframes slide-right {
	from {opacity: 0;transform:translateX(50%);}
    to {opacity: 1;transform:translateX(0);}
}




//galeria
.background-more-info.open-background {
	animation-name: fade-in;
	opacity: 0;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	display: flex;
	display: -o-flex;
	display: -ms-flex;
	display: -moz-flex;
	display: -webkit-flex;
	/*-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	-o-align-items: center;
	align-items: center;*/
	-webkit-justify-content: center;
	-moz-justify-content: center;
	-ms-justify-content: center;
	-o-justify-content: center;
	justify-content: center;
}

@keyframes fade-in {
	from {opacity: 0;}
	to {opacity: 1;}
}