@font-face {
    font-family: 'Knockout HTF48-Featherweight';
    src: url('../fonts/knockout-htf48-featherweight.eot');
    src: url('../fonts/knockout-htf48-featherweight.woff') format('woff'),
        url('../fonts/knockout-htf48-featherweight.otf') format('opentype'),
        url('../fonts/knockout-htf48-featherweight.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FF Din Round Pro';
    src: url('../fonts/ffdin-round-pro-regular.eot');
    src: url('../fonts/ffdin-round-pro-regular.woff') format('woff'),
        url('../fonts/ffdin-round-pro-regular.otf') format('opentype'),
        url('../fonts/ffdin-round-pro-regular.svg') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'FF Din Round Pro';
    src: url('../fonts/ffdin-round-pro-black.eot');
    src: url('../fonts/ffdin-round-pro-black.woff') format('woff'),
        url('../fonts/ffdin-round-pro-black.otf') format('opentype'),
        url('../fonts/ffdin-round-pro-black.svg') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'FF Din Round Pro';
    src: url('../fonts/ffdin-round-pro-bold.eot');
    src: url('../fonts/ffdin-round-pro-bold.woff') format('woff'),
        url('../fonts/ffdin-round-pro-bold.otf') format('opentype'),
        url('../fonts/ffdin-round-pro-bold.svg') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'FF Din Round Pro';
    src: url('../fonts/ffdin-round-pro-medium.eot');
    src: url('../fonts/ffdin-round-pro-medium.woff') format('woff'),
        url('../fonts/ffdin-round-pro-medium.otf') format('opentype'),
        url('../fonts/ffdin-round-pro-medium.svg') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'FF Din Round Pro';
    src: url('../fonts/ffdin-round-pro-light.eot');
    src: url('../fonts/ffdin-round-pro-light.woff') format('woff'),
        url('../fonts/ffdin-round-pro-light.otf') format('opentype'),
        url('../fonts/ffdin-round-pro-light.svg') format('svg');
    font-weight: 300;
    font-style: normal;
}


